includes:
	- vendor/phpstan/phpstan-mockery/extension.neon
parameters:
	treatPhpDocTypesAsCertain: false
	level: max
	excludePaths:
		- vendor/*
	paths:
		- vicephp/Virtue-JWT/src/
		- vicephp/Virtue-JWT/tests/
