includes:
    - vendor/phpstan/phpstan-mockery/extension.neon
parameters:
	level: 5
	excludePaths:
		- vendor/*
	paths:
		- vicephp/Virtue-JWT/src/
		- vicephp/Virtue-JWT/tests/
	scanDirectories:
		- vicephp/Virtue-JWT/vendor
