on: [pull_request]
jobs:
    test:
        strategy:
            matrix:
                php-version: ["8.2", "8.3", "latest"]
        name: test php v.${{ matrix.php-version }}
        runs-on: ubuntu-latest
        steps:
            - uses: "shivammathur/setup-php@v2"
              with:
                php-version: ${{ matrix.php-version }}
            - uses: actions/checkout@v4
            - uses: ramsey/composer-install@v3
            - run: composer exec phpstan analyse
            - run: composer exec phpunit
